body {
    background: linear-gradient(to right, #741712, #990402, #BC5448, #0000);
    background-attachment: fixed;
    color:white;
    margin-right:300px;
    margin-left:300px;
   }

    h1 {
      font-family:arial black;
      margin-top:70px;
      font-size:55px;
    }

    h2 {
      font-family:arial;
      font-size:35px;
    }

    li {
      font-family:verdana;
      font-size:20px;
    }

 #rcorners {
            padding: 15px;         
            border-radius: 10px;     
            width: fit-content;      
            margin: 20px; 
            border: 2px solid #FAF9F6;               
        }
        
        #rcorners {
            padding: 15px;          
            border-radius: 10px;     
            width: fit-content;     
            margin: 20px;           
            border: 2px solid #FAF9F6;
        }
        
        #rcorners { 
            padding: 15px;          
            border-radius: 10px;    
            width: fit-content;      
            margin: 20px;
            border: 2px solid #FAF9F6;            
       }

   
