body {
    background-color: #CEDCCA;
    background-attachment: fixed;
}

h1 {
    color: #69A765;
    text-align: left;
    font-size: 55px;
    font-family: "Arial Black", sans-serif; 
    margin-top: 50px;
    margin-left: 70px;
}

h2 {
    color: white;
    text-align: left;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

p {
    color: white;
    text-align: left;
    font-size: 15px;
    font-family: Arial, sans-serif;
}

.image-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px;
   
}


.image-container a {
    width: 33%; 
    text-align: center;
}


img {
    width: 450px;
    height: 450px;
}

img {
  border-radius: 50%;
}

.vsprite {
	background: url('../wireframe_imgs/css_sprites.png') no-repeat -1972px -1015px;
	height: 450px;
        width: 400px;
        margin-left: 120px;
        margin-top: 100px;
}


.hsprite {
	background: url('../wireframe_imgs/css_sprites.png') no-repeat -2025px -555px;
	height: 350px;
        width: 450px;
        margin-left: 120px;
        margin-bottom: 120px;
        margin-top: 100px;
}

.wsprite {
	background: url('../wireframe_imgs/css_sprites.png') no-repeat -2023px -58px;
	width: 400px;
	height: 450px;
        margin-left: 50px;
        margin-top: 100px;
}
